*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: $color-very-dark;
  line-height: 1.7;
  font-weight: $font-normal;
  font-family: $font-main;
  color: $color-light;
}
