.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -15rem;
}

.grid {
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30rem;
  box-shadow: rgba(235, 235, 246, 0.2) 0px 7px 29px 0px;
}

.tile {
  border: 2px solid white;
  height: 3rem;
  width: 3rem;
}

.neighbour {
  background-color: rgba(165, 250, 5, 0.3);
}

.selected {
  background-color: $color-route;
}

.draw {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 2rem;
}

.btn {
  font-family: $font-main;
  font-weight: $font-bold;
  display: none;
  text-transform: uppercase;
  color: white;
  background-color: $color-route;
  border-radius: $radius;
  border-style: none;
  height: 3rem;
  width: 7rem;

  &:hover {
    cursor: pointer;
  }
}

.active-btn {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.first-selected {
  background-color: rgb(125, 234, 29);
}

.last-selected {
  background-color: rgb(0, 81, 255);
}

.path {
  background-color: rgb(174, 255, 0);
}
