.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20rem;
  padding: 0;
  @include center;
  box-shadow: rgba(235, 235, 246, 0.2) 0px 7px 29px 0px;
}

.tile {
  border: 1px solid white;
  height: 2rem;
  width: 2rem;
}

.selected {
  background-color: orangered;
}

.neighbour {
  background-color: rgba(165, 250, 5, 0.3);
}

.draw {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-transform: uppercase;
  color: white;
  background-color: orangered;
  border-radius: $radius;
  border-style: none;
  height: 3rem;
  width: 7rem;

  &:hover {
    cursor: pointer;
  }
}

.active-btn {
  display: block;
}
