// Variables
$color-very-dark: rgb(0, 0, 0);
$color-light: rgb(245, 245, 245);
$color-route: orangered;
$colour-neighbour: rgba(165, 250, 5, 0.3);
$colour-start-point: rgb(125, 234, 29);
$colour-finish-point: rgb(14, 132, 14);
$colour-path: rgb(126, 164, 43);

$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-main: 'Source Sans Pro', sans-serif;

$transition: all 0.3s;
$radius: 4px;

@mixin flex() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
